.text{
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: right;
   
    
}

.lg{
    background-color: white;
    padding: 106px;
}

.wel-logo{
   
    width:506px;height: 442px;
    padding-right: 64px;
    

    

}

.in-btn{
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   
}

.in-btn:hover{
    cursor: pointer;
}

.new-btn{
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}

.new-btn:hover{
cursor: pointer;
}

.btn .new-btn{
    border-radius: 34px;
    background: #FAB608;
   padding: 13px 30px;
}
.btn{
    text-align: right;
    
}