.im{
    width: 448px;
    height: 448px;
    float: right; 
    position: relative;
    top: -190px;
    left: -150px;
}

.EX{
    background-color: #FAB608;
    width: 1440px;
    height: 694px;
    position:absolute;
}

.E{
    position: relative;
    top:200px;
    left:-100px;
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}

.Arrow{
    position: relative;
}

.c1{
    position: relative;
    top:-200px;
    left:210px;
}

.c2{
    position:relative;
    top: 90px;
    left: -120px;    
}

.c3{
    position: relative;
    top:90px;
    left:70px;
}

.a1{
    position: absolute;
    top:-20px;
    left: 140px;
}

.a2{
    position: relative;
    top:-105px;
    left:-90px;
}

.a3{
    position: relative;
    top:30px;
    left: -280px;
}

.Exp{
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    left:90px;
    top:440px;
}

.Le{
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top:160px;
    left:270px;

}

.Pr{
    color:#fff ;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    left: 430px;
    top:450px;

}